*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*body{
    background-image: url(leaves-plant-foliage-grow-f2eb758a2462af5b659a4a40a0dc4605.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
} */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

@media (max-width: 828px) {
    body {
        /*background-color: rebeccapurple;*/
        background-image: url(testleaf11.jpg);
        background-position: .14px;
        background-size: 230%;
        height: 100%;
        width: 100%;
        /* margin: 0 auto;
        text-align: center; */
    }
    .content h1{
        font-size: 8vw;
        text-transform: uppercase;
        max-width: 80vh;
        text-align: center;
        margin: 0 auto;
    }
    .content p{
        font-size: 3vh;
        margin: 40px 0px 50px;
        padding: 3px;
    }
    .coupon-length-4 {
        max-width: 2.98em;
        height: 30px;
        font-size: 17px;
    }
    
    .coupon-length-2 {
        max-width: 1.64em;
        height: 30px;
        font-size: 17px;
    }

    .emailInput {
        width: 75%;
        height: 36px;
        font-size: 1.2em;
    }

    #loading-gif {
        height: 25vh;
        width: 25vh;
    }

    #invalid-gif {
        height: 25vh;
    }
    #waving-bye-gif {
        height: 25vh;
    }
    .loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-image: url(testleaf11.jpg);
        background-position: .14px;
        background-size: 230%; */
        /* background-color: rebeccapurple; */
        background: #0D1E21;
        transition: opacity 0.75s, visibility 0.75s;
        
      }
}

@media (min-width: 828px) {
    body {
        background-image: url(leaves-plant-foliage-grow-f2eb758a2462af5b659a4a40a0dc4605.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;
    }
    .content h1{
        font-size: 5vh;
        text-transform: uppercase;
        max-width: 80vh;
        text-align: center;
        margin: 0 auto;
    }
    .content p{
        font-size: 3vh;
        margin: 40px 0px 50px;
    }
    .coupon-length-4 {
        max-width: 2.98em;
    
        font-size: 1.5em;
    }
    
    .coupon-length-2 {
        max-width: 1.64em;
    
        font-size: 1.5em;
    }

    .emailInput {
        width: 30%;
        font-size: 1.2em;
    }
    #waving-bye-gif {
        height: 25vh;
    }

    .loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-image: url(leaves-plant-foliage-grow-f2eb758a2462af5b659a4a40a0dc4605.jpg);
        background-position: center;
        background-size: cover; */
        background: #0D1E21;
        transition: opacity 0.75s, visibility 0.75s;
      }
  }

.menu{
    width: 100%;
}
.menu img{
    width: 15%;
    margin: 20px 10%;
    cursor: pointer;
}
.menu ul{
    display: inline-flex;
    color: #fff;
    list-style: none;
    right: 10%;
    top: 15px;
    position: absolute;
}
.menu ul li{
    margin: 15px;
    cursor: pointer;
    font-size: 18px;
}
.menu ul li .fa-solid{
    margin-right: 13px;
    font-size: 20px;
}
.content{
    width: 100%;
    color: #fff;
    margin: 11vh 0 0;
    text-align: center;
}

.content ul{
    list-style-type: none;
    display: inline-flex;
    text-transform: uppercase;
}
.content ul li{
    margin-right: 25px;
    position: relative;
    margin: 0 auto
}
.content ul li a{
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    display: block;
    padding: 12px 20px;
    width: 120px;
    text-align: center;
    z-index: 1;
}
.content ul li a:hover{
    border: 2px solid red;
    transition: .3s;
}
.content ul li span{
    display: block;
    width: 0;
    height: 100%;
    background: red;
    top: 0;
    position: absolute;
    transition: .3s;
    z-index: -1;
}

.content ul li:hover span{
    width: 100%;
}


#about {
    padding-right: 10px;
    padding-left: 10px;
}

#loadtext {
    padding-right: 10px;
    padding-left: 10px;
}

/* input::placeholder {
    text-align: center;
} */
  
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  