<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panda Express Survey Filler</title>
    <link rel="stylesheet" href="/static/test.css">
    <script src="https://kit.fontawesome.com/17b6e821ef.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="menu">
        <img src="logo.png" alt="">
        <ul>
            <li onclick="location.href='http://github.com/michael-m-truong/Panda-Express-Survey-Automation'"><i class="fa-brands fa-github"></i></i> github.com/michael-m-truong/Panda-Express-Survey-Automation</li>
        </ul>
    </div>
    <form id="form" action="/fill-survey" method="post">
    <div class="content" id="content">
        <div id="inside-content" class="col-12">
        <h1>Panda Express Survey<br>Automation</h1>
        <p id="about">Enter your email and the 22-digit survey code at the bottom of the receipt to get your free entrée</p>
        <input class="emailInput" name="email" type="text" placeholder="Email Address">
        <p class="surveyInput" aria-hidden="true">
            <input class="coupon-length-4 " type="text" autocomplete="off" id="CN1" name="CN1"  maxlength="4" value="" autotab="" aria-hidden="false" pattern="[0-9]*" onkeyup="autotab(this)"> - 
            <input class="coupon-length-4 " type="text" autocomplete="off" id="CN2" name="CN2"  maxlength="4" value="" autotab="" aria-hidden="false" pattern="[0-9]*" onkeyup="autotab(this)"> - 
            <input class="coupon-length-4 " type="text" autocomplete="off" id="CN3" name="CN3"  maxlength="4" value="" autotab="" aria-hidden="false" pattern="[0-9]*" onkeyup="autotab(this)"> - 
            <input class="coupon-length-4 " type="text" autocomplete="off" id="CN4" name="CN4"  maxlength="4" value="" autotab="" aria-hidden="false" pattern="[0-9]*" onkeyup="autotab(this)"> - 
            <input class="coupon-length-4 " type="text" autocomplete="off" id="CN5" name="CN5"  maxlength="4" value="" autotab="" aria-hidden="false" pattern="[0-9]*" onkeyup="autotab(this)"> - 
            <input class="coupon-length-2 " type="text" autocomplete="off" id="CN6" name="CN6"  maxlength="2" value="" aria-hidden="false" pattern="[0-9]*" onkeyup="autotab(this)">
        </p>
        <ul>
            <li><a href="#" onclick="
            // var email = document.querySelector('.emailInput').value;
            // var CN1 = document.querySelector('#CN1').value;
            // var CN2 = document.querySelector('#CN2').value;
            // var CN3 = document.querySelector('#CN3').value;
            // var CN4 = document.querySelector('#CN4').value;
            // var CN5 = document.querySelector('#CN5').value;
            // var CN6 = document.querySelector('#CN6').value; 

            // if (email === '' || CN1 === '' || CN2 === '' || CN3 === '' || CN4 === '' || CN5 === '' || CN6 === '') {
            //     return false;
            // }
            
            setTimeout(() => {
            
                var data = {
                    email: document.querySelector('.emailInput').value,
                    CN1: document.querySelector('#CN1').value,
                    CN2: document.querySelector('#CN2').value,
                    CN3: document.querySelector('#CN3').value,
                    CN4: document.querySelector('#CN4').value,
                    CN5: document.querySelector('#CN5').value,
                    CN6: document.querySelector('#CN6').value
                };
                var json = JSON.stringify(data);
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/loading');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onload = function() {
                if (xhr.status === 200) {
                    // update the HTML content
                    document.getElementById('inside-content').innerHTML = xhr.responseText;
                    document.getElementById('loading-gif').style.display = 'inline-block'
                }
                };
                xhr.send(json);
                history.pushState({}, '', '/loading');
            }, 400);
            setTimeout(() => {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/fill-survey');
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        document.body.innerHTML = xhr.responseText;
                        console.log(document.getElementById('about'))
                        if (document.getElementById('about').innerText == 'Invalid code, please try again'){
                            history.pushState({}, '', '/invalid');
                        }
                        else {
                            history.pushState({}, '', '/complete');
                        }
                    }
                };
                xhr.send();
            }, 500);
                /*async function fillSurvey() {
                    setTimeout(() => {
                        document.getElementById('form').submit(); 
                        return false;
                    }, 1000);
                    console.log()
                    //history.pushState({}, '', '/complete');
                }
                fillSurvey() */
                ">Submit</a><span></span></li>
        </ul>
        </div>
        <img id="loading-gif" src="/static/panda_op_crop.gif" style="display: none;">
    </div>
    </form>
    <script>
        function autotab(input) {
            if (input.value.length === input.maxLength && event.keyCode != 8) {
                let next = input.nextElementSibling;
                next.focus();
            }
            if (input.value.length === 0 && event.keyCode == 8) {
                let next = input.previousElementSibling;
                next.focus();
            }
        }
    </script>
</body>
</html>