<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Landing Page</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://kit.fontawesome.com/17b6e821ef.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="menu">
        <img src="logo.png" alt="">
        <ul>
            <li onclick="location.href='http://github.com/michael-m-truong/Panda-Express-Survey-Automation'"><i class="fa-brands fa-github"></i></i> github.com/michael-m-truong/Panda-Express-Survey-Automation</li>
        </ul>
    </div>
    <div class="content">
        <h1>Panda Express Survey Automation</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Omnis laborum neque accusantium porro cumque quisquam eos perferendis quia! <br> Tenetur aperiam facilis libero sint laudantium pariatur blanditiis quos architecto doloremque rem.</p>
        <ul>
            <li><a href="#">Read More</a><span></span></li>
            <li><a href="#">Our Work</a><span></span></li>
        </ul>
    </div>
</body>
</html>