<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panda Express Survey Filler</title>
    <link rel="stylesheet" href="/static/test.css">
    <script src="https://kit.fontawesome.com/17b6e821ef.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="menu">
        <img src="logo.png" alt="">
        <ul>
            <li onclick="location.href='http://github.com/michael-m-truong/Panda-Express-Survey-Automation'"><i class="fa-brands fa-github"></i></i> github.com/michael-m-truong/Panda-Express-Survey-Automation</li>
        </ul>
    </div>
    <div class="content" id="content">
        <div class="col-12">
        <h1>Panda Express Survey<br>Automation</h1>
        <p id="about">Invalid code, please try again</p>
        <img class="gif" id="invalid-gif" src="/static/laying_panda.gif">
        </div>
        <ul>
            <li><a href="/">Home</a><span></span></li>
        </ul>
    </div>
</body>
</html>